<h1>IndexPage</h1>
<div class="user_container">
    <div class="bt login_container" onclick="openUrl('http\:\/\/localhost:3000/login')">
        <a href="http://localhost:3000/login" class="atext loginBT">Giriş</a>
    </div>
    <div class="bt signup_container" onclick="openUrl('http\:\/\/localhost:3000/signup')">
        <a href="http://localhost:3000/signup" class="atext signupBT">Qeydiyyat</a>
    </div>
</div>