<h1>SignupPage</h1>

<button type="button" class="sgnbt bt" onclick="openUrl('https:\/\/docs.google.com/forms/d/e/1FAIpQLSfQK6JXpvI3HPEHE5_vanoshaNXmI9N8nEYrALi1-9qJA97Hg/viewform?usp=sf_link')">İndi qeydiyyatdan Keç!</button>
<div class="user_container">
    <div class="bt index_container" onclick="openUrl('http\:\/\/localhost:3000/index')">
        <a href="http://localhost:3000/index" class="atext loginBT">Home</a>
    </div>
    <div class="bt login_container" onclick="openUrl('http\:\/\/localhost:3000/login')">
        <a href="http://localhost:3000/login" class="atext loginBT">Giriş</a>
    </div>
</div>